/*
 * P9981 Pro - The Black Knight Arabic Edition
 * Final Keymap Structure
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define SYM     1
#define FUNC    2
#define ARABIC  3

/ {
    behaviors {
        /* * سلوك الأزرار العربية الذكية (Hold-Tap)
         * - ضغطة سريعة (Tap): الحرف الثاني (الأكثر استخداماً في البلاكبيري)
         * - ضغطة مطولة (Hold): الحرف الأول (الأقل استخداماً أو الرديف)
         * التوقيت: 200ms (جزء من الثانية)
         */
        ar_q: ar_q { compatible = "zmk,behavior-hold-tap"; label = "AR_Q"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_w: ar_w { compatible = "zmk,behavior-hold-tap"; label = "AR_W"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_e: ar_e { compatible = "zmk,behavior-hold-tap"; label = "AR_E"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_r: ar_r { compatible = "zmk,behavior-hold-tap"; label = "AR_R"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_t: ar_t { compatible = "zmk,behavior-hold-tap"; label = "AR_T"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_y: ar_y { compatible = "zmk,behavior-hold-tap"; label = "AR_Y"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_u: ar_u { compatible = "zmk,behavior-hold-tap"; label = "AR_U"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_i: ar_i { compatible = "zmk,behavior-hold-tap"; label = "AR_I"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_o: ar_o { compatible = "zmk,behavior-hold-tap"; label = "AR_O"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_p: ar_p { compatible = "zmk,behavior-hold-tap"; label = "AR_P"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        
        /* تعريفات الصف الثاني والثالث */
        ar_a: ar_a { compatible = "zmk,behavior-hold-tap"; label = "AR_A"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_s: ar_s { compatible = "zmk,behavior-hold-tap"; label = "AR_S"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_d: ar_d { compatible = "zmk,behavior-hold-tap"; label = "AR_D"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_f: ar_f { compatible = "zmk,behavior-hold-tap"; label = "AR_F"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_g: ar_g { compatible = "zmk,behavior-hold-tap"; label = "AR_G"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_h: ar_h { compatible = "zmk,behavior-hold-tap"; label = "AR_H"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_j: ar_j { compatible = "zmk,behavior-hold-tap"; label = "AR_J"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_k: ar_k { compatible = "zmk,behavior-hold-tap"; label = "AR_K"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_l: ar_l { compatible = "zmk,behavior-hold-tap"; label = "AR_L"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        
        ar_z: ar_z { compatible = "zmk,behavior-hold-tap"; label = "AR_Z"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_x: ar_x { compatible = "zmk,behavior-hold-tap"; label = "AR_X"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_c: ar_c { compatible = "zmk,behavior-hold-tap"; label = "AR_C"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_v: ar_v { compatible = "zmk,behavior-hold-tap"; label = "AR_V"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_b: ar_b { compatible = "zmk,behavior-hold-tap"; label = "AR_B"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_n: ar_n { compatible = "zmk,behavior-hold-tap"; label = "AR_N"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
        ar_m: ar_m { compatible = "zmk,behavior-hold-tap"; label = "AR_M"; #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred"; bindings = <&kp>, <&kp>; };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: English QWERTY */
        default_layer {
            bindings = <
                &kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I    &kp O    &kp P
                &kp A    &kp S    &kp D    &kp F    &kp G    &kp H    &kp J    &kp K    &kp L    &kp BSPC
                &lt SYM SPACE &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &lt FUNC ENTER
                &kp LSHFT &tog ARABIC &kp LGUI &kp LALT &kp RSHFT
            >;
        };

        /* Layer 1: Symbols */
        sym_layer {
            bindings = <
                &kp N1   &kp N2   &kp N3   &kp N4   &kp N5   &kp N6   &kp N7   &kp N8   &kp N9   &kp N0
                &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT &kp CARET &kp AMPS &kp STAR &kp LPAR &kp BSPC
                &trans   &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH &kp SEMI &kp APOS &trans
                &trans   &trans   &trans   &trans   &trans
            >;
        };

        /* Layer 2: Functions */
        func_layer {
            bindings = <
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans &trans &trans &trans &bootloader
                &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6   &kp F7   &kp F8   &kp F9   &sys_reset
                &trans   &kp F10  &kp F11  &kp F12  &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE &trans &trans
                &trans   &bt BT_CLR &trans &trans   &trans
            >;
        };

        /* Layer 3: ARABIC MODE */
        arabic_layer {
            bindings = <
                /* الصف الأول */
                &ar_q W Q    &ar_w R E    &ar_e Y T    &ar_r I U    &ar_t P O    &ar_y RBKT LBKT    &ar_u V GRAVE    &ar_i S DOT    &ar_o FSLH A    &ar_p L SEMI  
                /* الصف الثاني */
                &ar_a A A    &ar_s S S    &ar_d D D    &ar_f F F    &ar_g G G    &ar_h H H    &ar_j M J    &ar_k K K    &ar_l L L    &kp BSPC
                /* الصف الثالث */
                &kp SPACE    &ar_z Z Z    &ar_x X X    &ar_c C C    &ar_v V V    &ar_b B B    &ar_n N N    &ar_m M M    &kp RET
                /* الصف الرابع: زر الخروج من العربي (الزر الثاني من اليسار) */
                &kp LSHFT &tog ARABIC &kp LGUI &kp LALT &kp RSHFT
            >;
        };
    };
};
